<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>2024</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <!-- Local files -->
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div id="app">
    <h1>{{message}}</h1>
    <div class="wrapper container">
        <template v-for="row in boxes">
            <template v-for="cell in row">
                <div class="box">
                    <p class="innards display-1">{{cell}}</p>
                </div>
            </template>
        </template>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

<!-- Vue.js -->
<script src ="https://cdn.jsdelivr.net/npm/vue"></script>
<!--<script src="app.js"></script>-->

</body>
</html>

<script>
    new Vue({
        el: "#app",
        data: {
            message: 'hello',
            boxes: [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]],
            box_rows: 4,
            box_cols: 4,
            push_dirs: {37: [0, 1], 38: [-1, 0], 39: [0, -1], 40: [1, 0]},
        },
        methods: {
            box_push(dir){
                const [dx, dy] = dir
                alert(dx + ' yay  ' + dy)
                 /*
                for (let row of this.boxes){
                    for (let cell of row){
                        if
                    }
                } */
                this.boxes.forEach((row, i) => {
                    row.forEach((box, j) => {
                        let [xf, yf] = [i + dx, j + dy]
                        if (0 <= xf && xf < this.box_cols && 0 <= yf && yf < this.box_rows){
                            // within bounds
                            this.boxes[i][j] += this.boxes[yf][xf]
                        } else {
                            this.boxes[i][j] = 0
                        }
                    })
                })
                this.boxes.push([])
                console.log("box changed")
            }
        },
        mounted(){
            window.addEventListener('keyup', e => {
                // check for arrow keys
                this.box_push(this.push_dirs[e.keyCode]);
            })
        },
    })
</script>