<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>2024</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <!-- Local files -->
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div id="app">
    <audio id="push_effect" src="https://www.soundjay.com/nature/sounds/flame-1.mp3" preload="auto"></audio>
    <audio id="game_over" src="https://www.soundjay.com/nature/sounds/water-droplet-1.mp3" preload="auto"></audio>
    <audio id="applause" src="https://www.soundjay.com/human/sounds/applause-4.mp3" preload="auto"></audio>

    <h1>{{message}}</h1>
    <div id="game_box container">
        <div class="wrapper container">
            <template v-for="row in boxes">
                <template v-for="cell in row">
                    <div class="box">
                        <div :class="{op: is_type(cell) === 1, num: is_type(cell) === 2, combo: is_type(cell) === 3}">
                            <p class="innards display-1">{{ cell | combine }}</p>
                        </div>
                    </div>
                </template>
            </template>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

<!-- Vue.js -->
<script src ="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="app.js"></script>

</body>
</html>