#game_box {
    width: 100vw;
    height: 100vh;
    background-color: blue;
}

.wrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: minmax(100px, auto);
    /* grid-gap: 1em; */
    background: black;
}

.wrapper > div {
    background: white;
}

.wrapper > div:nth-child(8n + 1), div:nth-child(8n + 3), div:nth-child(8n + 6), div:nth-child(8n + 8) {
    background: lightgray;
}

 /*
.wrapper > div:nth-child(even){
    background: lightgray;
}
.wrapper > div:nth-child(odd){
    background: white;
} */

.box {
    text-align: center;
    border: 1px groove black;
}

.op {
    color: palevioletred;
}

.num {
    color: cornflowerblue;
}

.combo {
    color: mediumpurple;
}

 /*
.innards {
    font-size: ;
} */